<section class="home-section pt-2" th:fragment="bannerHomeClient">
    <div class="container-fluid-lg">
        <div class="row g-4" style= "padding-top: 230px;">
            <div class="col-xl-9 col-lg-8">
                <div class="home-contain h-100">
                    <img src="../assets/images/Flower/hoa-baby-kho-01.jpg" class="bg-img blur-up lazyload" alt="">
                    <div class="home-detail p-center-left w-75 position-relative mend-auto">
                        <div>

                            <h1 class="w-75 text-uppercase poster-1" style="color: #6a1a21">Stay home & delivered your <span
                                    class="daily">Daily Needs</span></h1>
                            <p class="w-58 d-none d-sm-block" style="color: #664d03">"Discover our carefully selected collection of essential products, from organic food to daily household items, bringing the purity of nature into your home."</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 d-lg-inline-block d-none ratio_156">
                <div class="home-contain h-100">
                    <img src="../assets/images/Flower/banner2.jpg" class="bg-img blur-up lazyload" alt="">
                    <div class="home-detail p-top-left home-p-sm w-75">
                        <div>


                            <h3 class="theme-color">Real Refreshment</h3>
                            <h5 class="text-content" style="color: #0a58ca">Turn your bathroom into an oasis of peace. </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>