<section>
    <div class="container-fluid-lg" th:fragment="categoryMenu">
        <div class="title">
            <h2></h2>
            <span class="title-leaf">
                    <svg class="icon-width">
                        <use xlink:href="../assets/svg/leaf.svg#leaf"></use>
                    </svg>
                </span>
            <p></p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-9">
                    <div  th:each="category: ${categories}">
                        <a th:href="@{/flower(categoryIDs=${category.categoryId})}" class="category-box wow fadeInUp">

                                <img src="../assets/images/Flower/logo.jpg" class="blur-up lazyload" alt="">
                                <h5 th:text ="${category.categoryName}">Vegetables & Fruit</h5>

                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>