<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form th:action="@{/change-password}" method="post">
    <input type="hidden" name ="email" th:value="${email}"/>



    <div th:if="${errorMessage}" class="text-danger mb-2">
        <p th:text="${errorMessage}"></p>
    </div>
    <label for="password">New Password</label>
    <input type="password" name="password" id="password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <button type="submit">Change Password</button>
</form>
</body>
</html>